.collectionList {
    width: 80%;
    margin: auto;
}

.Collectionrow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-row-gap: 35px;
}

.buyButton {
    border: none;
    outline: none;
    background: #ff4c24;
    color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 8px;
}

.pdpDescription {
    font-size: 12px;
    /* padding: 0px 10px; */
}

.img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pdpTitle span {
    font-size: 14px;
}

.price {
    font-size: 13px;
    font-weight: 600;
    color: #ff4c24;
    margin-top: 5px;
    margin-bottom: 8px;
}

.rating {
    width: 80px;
    height: fit-content;
}

.paginationButton {
    border: none;
    outline: none;
    background: #ff4c24;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
}

@media(max-width: 767px) {
    .collectionList {
        width: 90%;
    }

    .Collectionrow a {
        width: 100%;
    }

    .Collectionrow {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-row-gap: 20px;
    }

    .rating {
        display: none;
    }

    .pdpDescription {
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.25rem !important;
    }
}